  <center><br><font size = 3, face = "Purisa"><h1>Listing Users</h1></center>

<table>
  <thead>
    <tr>
      <font size = 3, face = "Purisa"><th>email</th>
      <font size = 3, face = "Purisa"><th><th>role</th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

</tbody>
<% @users.each do |user| %>
<tr>
    <center><font size = 3, face = "Purisa"><td><%= user.email %></td></center>
    <center><font size = 3, face = "Purisa"><td><td><%= user.role %></td></td></center>
</tr>
<% end %>
</tbody>
</table>
