<p id="notice"><%= notice %></p>
<center><h1><b><font size = 14, face="Purisa"> Street Fut</font></b> <br /></h1></center>

<% if user_signed_in?%>
<ul>
  <center><br><font size = 3, face = "Purisa"><li><%= current_user.email %></li></font></center>
  <center><br><font size = 3, face = "Purisa"><li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li></center>
</ul>
<% else %>
  <ul>
    <center><br><font size = 3, face = "Purisa"><li><%= link_to "Cadastro de novo usuário", new_user_registration_path %></li></font></center>
    <center><br><br><font size = 3, face = "Purisa"><li><%= link_to "Logar", new_user_session_path %></li></font></center>
  </ul>
<% end %>

<ul>
  <center><br><br><font size = 3, face = "Purisa"><li><%= link_to "Posts", posts_path %></li></font></center>
  <center><br><br><font size = 3, face = "Purisa"><li><%= link_to "Usuários", control_users_index_path %></li></font></center>
</ul>
