<center><h2><b><font size = 7, face="Purisa"><h2>Esqueceu sua senha?</font></h2>
<center><h2><b><br><font size = 2, face="Purisa">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Me enviar instruções de redefinição de senha" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
