<font size = 7, face = "Purisa"><center><h1>Feito para os peladeiros de plantão</h1><br></font>
  <font size = 4, face = "Purisa">
<h4>
• Para marcar as peladas de futebol.
<br><br>
• Use com moderação, a prática de futebol pode causar II/MI
<br><br>
• Criado por alunos de OO da Universidade de Brasília
<br><br>
• Para partilhar resultados humilhantes de seus "amiguinhos"
<br><br>
• Vamos que vamos \o/
<br><br>


</h4>
