<font size = 7, face = "Purisa"><center><h1>Regras do Forum</h1><br></font>
  <font size = 4, face = "Purisa">
<h4>Regras em geral que devem ser cumpridas para garantir um ótimo espaço de amizade entre os participantes. Disso faz parte;
<br>
<br>


• E bom lembra que por traz de cada usuário tem um ser humano.
<br><br>
• Que cada um vai respeitar os outros membros e as suas opiniões da mesma maneira que ele gosta de ser respeitado.
<br><br>
• Que possivelmente menores de 18 anos também podem participar deste Fórum.
<br><br>
• Que não há diferenças pessoais no fórum.
<br><br>
• Que é de fundamental importância se expressar de forma clara e cumprir as regras atuais de ortografias para evitar que haja maus entendimentos.
<br><br>
• Cada um tem responsabilidades pelas colocações publicadas e que e possivelmente tem que tirar as consequências.</h4>
