<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Streetfut" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <head>
    <title>DIV - Transparente</title>
    <style type="text/css">
    #div {
    	position:absolute;
    	left:268px;
    	top:116px;
    	width:11px;
    	height:12px;
    	z-index:1;
    	opacity:.6;
    	background-color: #FFFFFF;
    }
    </style>
</head>
<head>
	<style>
	#box{
		height: 220px;
		width:165px;
		border:1px solid;
		background-image:url('bg.jpg');
		background-position: center
	}
	</style>
</head>
    <div  class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <b><font face="Purisa"><a class="navbar-brand" href="http://localhost:3000/">Streetfut</a></font><br>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul><ul><ul><ul><ul><ul><ul>
            <ul><ul><ul><ul><ul><ul><ul>
              <ul><ul><ul><ul><ul><ul>
                <ul><ul><ul><ul><ul class="nav navbar-nav">
            <font size=4 face="Purisa" ><li><%= link_to "Sobre", "sobre" %></font>
            <ul><font size=4 face="Purisa"><%= link_to "Regras", "regras"  %></li></font></ul>
          </ul></ul></ul></ul></ul></ul>
          </ul></ul></ul></ul></ul></ul></ul>
        </ul></ul></ul></ul></ul></ul></ul>
      </ul></ul></ul></ul></ul>
        </div>
      </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
      <footer>
        <center><br><br><p>&copy; Vinicius&Gustavo 2016</p></center>
      </footer>

    </div> <!-- /container -->
</html>
